* {
    margin: 0;
    padding: 0;
 
}

body {
    background: linear-gradient(90deg, #fff, #f1f1f1);
}


/* header des */

.main-header {
    margin: 15px auto;
    width: 90%;
    height: 50px;
    background: linear-gradient(90deg, #fff, #777);
    box-shadow: 3px 3px 5px 1px rgba(29, 29, 29, 0.849);
    display: flex;
    flex-direction: row;
    gap: 30vw;
}

.com-name {
    color: #000;
    line-height: 10px;
    font-size: 25px;
    margin-left: 5px;
    
}

.main-nav {
   align-self: center;
  
    
}

.main-nav ul{
    list-style-type: none;
    
}

.main-nav ul, li{
    display: inline-block;
}

.main-nav, ul, li, a{
    text-decoration: none;
    color: #000;
    font-size: 10px;
    padding-left: 1px;
}

.main-nav, ul, li, a:focus{
    text-decoration: none;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    padding-left: 1px;
}


/*main des*/


.main-view {
   
    width: 100%;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   
    align-content: space-between;
    
}

h2 {
    margin: 0px 23px;
    font-size: 40px;
    position: absolute;
    color: #222;
}

.nike-shoes1 {
    margin-top: 20px;
    width: 320px;
    height: 320px;
    position: absolute;
    
}

.nike-shoes {
    width: 100%;
    height: auto;
    
}

.button {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#buy {
    
    background: linear-gradient(90deg, #fff, #888);
    
    border-radius: 3px;
    width: 70px;
    height: 25px;
}




/* footer des */

.contacts {
   
    width: 90%;
    margin: 0 auto ;
    margin-top: 50px;
    background: linear-gradient(90deg, #fff, #777);
    box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.849);
    height: 100px;

    
    
}

#contact-us {
   margin-left: 10px;
   font-size: large;
   padding-top: 20px;
}

.Contacts {
    padding-top: 10px;
    list-style-type: none;
    margin-left: 10px;
}

.Contacts li  {
    padding-top: 10px;
    padding-left: 10px;
    display: inline-block;
    text-decoration: none;
    font-size: 17px;
    padding-bottom: 5px;
}

.Contacts li a {
    color: #000;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}

